<html>
  <head>
    <title>新しい申請</title>
  </head>
  <body>
    <p>こんにちは {{receiverName}} 様,</p>
    <p
    >あなたの物件「{{houseName}}」に新しい宿泊申請があります。以下の詳細をご確認の上、承諾またはキャンセルの手続きをお願いいたします。</p>
    <p><strong>申請詳細:</strong></p>
    <ul>
      <li>ユーザー名: {{userName}}</li>
      <li>...</li>
    </ul>
    <p>確認と対応をお願いいたします。</p>
  </body>
</html>