<!-- ユーザーへの確認メール -->

<html>
  <head>
    <title>申請の確認</title>
  </head>
  <body>
    <p>こんにちは {{receiverName}} 様,</p>
    <p
    >この度は、当アプリケーションをご利用いただき、誠にありがとうございます。あなたの宿泊申請を受け付けました。物件オーナーが申請を確認次第、追ってご連絡いたします。</p>
    <p><strong>申請詳細:</strong></p>
    <ul>
      <li>物件名: {{houseName}}</li>
      <li>...</li>
    </ul>
    <p>何かご不明点がございましたら、お気軽にお問い合わせください。</p>
    <p>よろしくお願いいたします。</p>
  </body>
</html>